table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td,
  table th {
    border: 5px solid rgb(58, 80, 89);
    padding: 8px;
    text-align: center;
  }
  

  .badge{
color: aquamarine;
  }
  
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:black;
    border-radius: 5px;
    color: white;
    text-align: center;
  }